<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the IPO Watchlist </h1>
    <p>You have successfully signed up to the IPO Watchlist.  Please note that this newsletter is information only and is not intended to be financial advice.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
