<h1>Editing asxlisting</h1>

<%= render "form", asxlisting: @asxlisting %>

<br>

<div>
  <%= link_to "Show this asxlisting", @asxlisting %> |
  <%= link_to "Back to asxlistings", asxlistings_path %>
</div>
